/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: black;
}

.header-text {
    color: white;
    position: absolute;
    top: 0;
    left: 40px;
}

.wrapper {
    margin: auto;
    width: 980px;
}

.right-side-nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

.join-button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 8px 30px 8px 30px;
    font-size: 18px;
}

.login-link {
    color: white;
    margin-right: 10px;
}

.down-ten {
    position: absolute;
    top: 10%;
}




/* ----- =columns ----- */

.one_fourth {	 width:220px; }
.one_third {	 width:300px; }
.one_half { 	 width:460px; }
.two_third {	 width:620px; }
.three_fourth { width:700px; }
.full_column {	 width:940px; }

/* clearfix */
.clearfix:before,
.clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

/* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
.clearfix { *zoom: 1; }

/* DEMO STYLE - Box Outlines  */

article {
    box-sizing:border-box;
    padding: 10px;
    position:relative;
    margin-left:20px;
    margin-bottom:16px;
    float:left;
}

section {
    box-sizing:border-box;
    padding: 20px 0 10px 0;
}

